<div>
  <h3>{{ cinema.name }}</h3>
  <p>{{ cinema.location }}</p>
  <p>Opening Hours: {{ cinema.openingHours }}</p>
  <ul>
    <li *ngFor="let movieShowing of movieShowings">
      <a [routerLink]="['/movie', movieShowing.movie.id]">{{
        movieShowing.movie.title
      }}</a>
      <span>{{ movieShowing.movie.genre }}</span>
      <ul>
        <li *ngFor="let time of movieShowing.times">
          <span>{{ time }}</span>
        </li>
      </ul>
    </li>
  </ul>
  <h3>Update Cinema Details</h3>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label>Name</label>
      <input type="text" name="name" [(ngModel)]="cinemaName" />
    </div>
    <div>
      <label>Location</label>
      <input type="text" name="location" [(ngModel)]="cinemaLocation" />
    </div>
    <button>Update</button>
  </form>
</div>
