@import "./../../../variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $space-sm $space-lg;
  background-color: $color-black;

  a {
    color: $color-light-grey;
  }
}
