@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: $color-dark-grey;

  @media only screen and (max-width: $breakpoint-md) {
    font-size: 52.5%;
  }

  @media only screen and (max-width: $breakpoint-sm) {
    font-size: 42.5%;
  }
}

body {
  font-family: "Roboto", "sans-serif";
  font-size: $text-md;
  font-weight: 300;
  line-height: 1.7;
  color: $color-white;
}

h1,
h2,
h3 {
  font-weight: 300;
}

h2,
h3 {
  color: $color-light-grey;
}

a {
  text-decoration: none;
  color: $color-white;
}

ul {
  list-style: none;
}

input {
  color: $color-white;
  height: $space-xl;
  padding: $space-sm;
  font-size: $text-md;
  border: none;
  background-color: $color-light-grey;

  &:focus {
    outline: none;
  }
}

button {
  background-color: $color-light-grey;
  padding: $space-sm $space-lg;
  font-size: $text-md;
  border: none;
  color: $color-white;
  cursor: pointer;
  transition: all 0.2s ease-out;

  &:hover,
  &:active {
    background-color: $color-dark-grey;
  }

  &:focus {
    outline: none;
  }
}
