@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: $color-dark-grey;
}

body {
  font-family: "Roboto", "sans-serif";
  font-size: $text-md;
  font-weight: 300;
  line-height: 1.7;
  color: $color-white;
}

h1,
h2,
h3 {
  font-weight: 300;
}

h2,
h3 {
  color: $color-light-grey;
}

a {
  text-decoration: none;
  color: $color-white;
}

ul {
  list-style: none;
}
